@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;400;500;600;700;800&display=swap");

@font-face {
	font-family: "Estedad-VF";
	src: url("../assets/fonts/Estedad[wght\,kshd].ttf") format("truetype");
}

:root {
	/* 1rem = 10px */
	font-size: 62.5%;
	/* Colors */
	--first-color: #ffa826;
	--second-color: #fdcb14;
	--gray-color:#878787;
	--black-color: #1d1d1d;
	--white-color: #ffffff;
	/* fonts mais utilizada na Hero e na dispatch*/
	--estedad-vf: "Estedad-VF", sans-serif;
	/* font usada em titulos,preços e na opção ver opções */
	--title-text: "Fira Sans Extra Condensed", sans-serif;
	/* usada em subtitulos e descrições */
	--subtitle-text: "Montserrat", sans-serif;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}
/* For images to not be able to exceed their container */
img {
	max-inline-size: 100%;
	max-block-size: 100%;
}
/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}
/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	-webkit-user-select: auto;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}
/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}
/* preformatted text - use only for this feature */
pre {
	all: revert;
}
/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}
/* remove default dot (•) sign */
::marker {
	content: "";
}
/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}
/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
	-webkit-user-drag: element;
}
/* Revert Modal native behavior */
:where(dialog:modal) {
	all: revert;
}
*,
body {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

