@import "./globalStyles.css";
@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@400;500;600;700&display=swap");

header.mobile-hero {
	width: 100%;
	height: 80px;

	display: grid;
	grid-template-columns: 30% 40% 30%;
	align-content: center;
	justify-items: center;

	background-color: var(--white-color);
}

header.mobile-hero .action-icons {
	display: flex;
	gap: 12px;
}

header.mobile-hero figure {
	display: flex;
	align-items: center;
}

figure.icon img {
	width: 24px;
}

#hero {
	height: 70vh;
	position: relative;
}

#hero header.desktop-hero {
	display: none;
}

.carousel,
.carousel-images {
	height: 100%;
}

.carousel {
	position: relative;
	overflow: hidden;
}

.carousel-images {
	display: flex;
	transition: transform 0.5s ease-in;
}

.carousel-images .back-img {
	flex: 0 0 100%;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.back-img.hero-brand {
	gap: 14px;

	text-align: center;
	font-size: 2rem;
	color: var(--white-color);
	font-family: var(--estedad-vf);
	background-image: url(/assets/img/hero-img.png);
}

.back-img.hero-brand figure {
	width: fit-content;
	max-width: 260px;
}

.back-img.hero-brand figure img {
	width: 100%;
	margin-bottom: 4px;
}

.back-img.hero-brand figure .lines {
	display: flex;
	gap: 6px;
}

.back-img.hero-brand figure .lines .line {
	width: 100%;
	height: 4px;
	border-radius: 6px;
	background-color: var(--white-color);
}

.back-img.hero-brand figure .lines .mini-line {
	width: 10%;
}

.back-img.hero-mothers_day {
	color: var(--white-color);

	background: linear-gradient(
			359.97deg,
			#000000 11.22%,
			rgba(22, 22, 22, 0.53867) 65.98%,
			rgba(203, 203, 203, 0) 99.97%
		),
		url(/assets/img/mothers-day_mobile.png), #000000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.back-img.hero-mothers_day .content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.back-img.hero-mothers_day .content,
.back-img.hero-mothers_day button.mothers-day__action {
	max-width: 250px;
	text-align: center;
}

.back-img.hero-mothers_day .content .title {
	font-weight: 600;
	padding-bottom: 20px;
	font-family: "Faustina", serif;
	border-bottom: 3px solid var(--white-color);
}

.back-img.hero-mothers_day .content .title h1 {
	font-size: 4rem;
	text-transform: uppercase;
}

.back-img.hero-mothers_day .content .title h2 {
	font-size: 2.8rem;
	text-transform: lowercase;
}

.back-img.hero-mothers_day .content p {
	font-weight: 300;
	font-size: 1.6rem;
	font-family: var(--estedad-vf);
}

.back-img.hero-mothers_day .content button.mothers-day__action {
	padding: 14px 0;
	font-weight: 500;
	font-size: 1.6rem;
	font-family: var(--title-text);
	background-color: #c52c2c;
}

.carousel-progress {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
}

.progress-bar-container {
	flex: 1;
	height: 4px;
	margin: 0 2px;
	background-color: #f0f0f0;
	overflow: hidden;
}

.progress-bar {
	height: 100%;
	width: 0%;
	background-color: #ffa826;
	transition: width 0.5s;
}

@media screen and (min-width: 1024px) {
	header.mobile-hero {
		display: none;
	}

	#hero {
		height: 85vh;
	}

	#hero header.desktop-hero {
		top: 0;
		left: 0;
		z-index: 10;
		position: absolute;

		width: 100%;
		padding: 4vh 3vw;
		display: grid;
		grid-template-columns: max-content 1fr 33%;
		align-items: center;
		column-gap: 40px;

		color: var(--white-color);
	}

	header.desktop-hero nav ul {
		display: flex;
		gap: 36px;
		font-weight: 500;
		font-size: 1.8rem;
		text-transform: uppercase;
		font-family: var(--estedad-vf);
	}

	header.desktop-hero nav ul li {
		cursor: pointer;
		height: fit-content;
		transition: font-weight 0.3s ease-in-out;
		display: flex;
		flex-direction: column;
	}
	header.desktop-hero nav ul li::after {
		content: "";
		width: 0;
		height: 4px;
		display: block;
		transition: all 0.3s ease-in-out;
		background-color: var(--first-color);
	}

	header.desktop-hero nav ul li:hover,
	header.desktop-hero nav ul li.active {
		font-weight: 800;
	}
	header.desktop-hero nav ul li:hover::after,
	header.desktop-hero nav ul li.active::after {
		width: 100%;
	}

	header.desktop-hero .desktop-actions {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	header.desktop-hero .desktop-actions button.user-account {
		padding: 6px 4px;
		height: fit-content;
		font-weight: 500;
		font-size: 1.8rem;
		text-align: center;
		text-transform: uppercase;
		font-family: var(--estedad-vf);
		border: 3px solid var(--white-color);
	}

	header.desktop-hero .desktop-actions .action-icons {
		display: flex;
		gap: 16px;
	}

	header.desktop-hero .desktop-actions .action-icons img {
		width: 32px;
		cursor: pointer;
	}
}
