@import "./globalStyles.css";

#ratings {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 16vh 6vw;
	position: relative;
}

#ratings h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	color: var(--black-color);
	font-size: 2.8rem;
	font-family: var(--title-text);
	text-transform: uppercase;
}

#ratings h1::after {
	content: "";
	width: 80%;
	height: 4px;
	display: block;
	background-color: var(--first-color);
}

.ratings-carousel,
.ratings-list {
	width: 100%;
}

.ratings-carousel {
	overflow: hidden;
	position: relative;
}

#ratings .ratings-list {
	display: flex;
	justify-content: flex-start;
	gap: 28px;
	margin-left: auto;
	padding: 12px;

	overflow-x: scroll;
	overflow-y: visible;
}

.ratings-list .rating-item {
	flex-shrink: 0;
	width: 300px;
	height: 260px;
	padding: 40px 25px;
	color: var(--black-color);
	font-family: var(--subtitle-text);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.14);
}

.rating-item h2 {
	font-weight: 600;
	font-size: 1.8rem;
	margin-bottom: 14px;
}

.rating-item h2::after {
	content: "";
	display: block;
	width: 15%;
	height: 4px;
	background-color: var(--first-color);
}

.rating-item p.rating-text {
	font-size: 1.6rem;
	margin-bottom: 14px;
}

.rating-item .rating-author {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rating-author p {
	font-weight: 300;
	font-size: 1.6rem;
}

#ratings .control-prev,
#ratings .control-next {
	width: 48px;
	top: 53%;
	z-index: 10;
	position: absolute;
	cursor: pointer;
	display: none;
}

#ratings .control-prev {
	left: 0;
}

#ratings .control-next {
	right: 0;
}

@media screen and (min-width: 1024px) {
	#ratings {
		overflow: hidden;
	}

	#ratings .control-prev,
	#ratings .control-next {
		display: block;
	}

	#ratings .ratings-list {
		max-width: 380px;
		margin-left: 0;
		overflow: visible;
		transition: transform 0.3s ease-in-out;
	}

	.ratings-list .rating-item {
		flex-basis: 100%;
	}
}
