@keyframes showMenu {
    0%{
        transform: translateX(-110%);

    }
    100%{
        transform: translateX(0);

    }
}
@keyframes closeMenu {
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(-110%);


    }
}