@import "../globalStyles.css";
/* Header */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 140px;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
  position: fixed;
  transition: top 0.5s;
}
@media(max-width:768px){
  .header-container{
    gap: 0;
    display: flex;
    justify-content: space-between;
padding-right: 0;
  }
}
.logo-mobile {
  width: 103px;
  display: none;

  height: 25.83px;
}
.logo-desktop{
  width: 53px;
height: 93.75px;
}
@media(max-width:768px){
.logo-mobile{
  display: flex;
}
.logo-desktop{
  display: none;
}
}
.burger-content {
  display: none;

  flex-direction: column;
  padding: 30px;
  gap: 8px;
  z-index: 99999;
  /* left: 51vw;
    position: absolute;
    essas vao ser as propriedade do burger content quand clicado */
}
@media(max-width:768px){
  .burger-content{
    display: flex;
  }
}

.burger-line {
  width: 35.5px;
  height: 3px;
  background-color: #000000;
  border-radius: 10px;
}
.search-buy {
  padding-right: 30px;
  gap: 17px;
  display: none;

}
@media(max-width:768px){
.search-buy{
  display: flex;

}
}
/* fim header */

/* produtos */
.section-products__content {
  width: 100%;
  height: 100%;
}
.search-filter {
  display: flex;
  justify-content: space-between;
  padding: 150px 31px 60px 31px;
}
.dog-image {
  min-width: 130px;
  max-width: 180px;
}
.count-products {
  font-family: var(--estedad-vf);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-color);
}

.product-seleer__content{
  display: flex;
  width: 100%;
}
.products-seler_filter{
  width: 400px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
@media(max-width:768px){
.products-seler_filter{
  display: none;
}
}

.products-seller {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 50px;
  padding: 0 5vw 0 0;
}
@media(max-width:768px){
  .products-seller {
    padding: 0 5vw;
  }
  
}

@media (max-width: 768px) {
  .products-seller {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sell-itens {
  display: flex;
  flex-direction: column;
}

.description-p {
  font-family: var(--subtitle-text);
  font-weight: 400;
  font-size: 13px;
  padding-top: 23px;
  padding-bottom: 17px;
  color: #000000;
}
.price-itens {
  display: flex;
  gap: 12px;
}
.price-num {
  font-family: var(--title-text);
  font-weight: 500;
  font-size: 22px;

  color: var(--black-color);
}
.price-discount {
  font-family: var(--title-text);

  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  text-decoration-line: line-through;

  color: var(--first-color);
}
/* cabo a lista de produtos */

/* proxima pagina */
.next-page__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 10vw 0;
}
.button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  background: #ffffff;
}

.button-next {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 31px;
  height: 31px;

  background: rgba(255, 168, 38, 0.55);
}
.number-page {
  font-family: var(--subtitle-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: var(--black-color);
}

/* Fim pagina */

/* linha estilo pos pagina */
.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.line-style {
  width: 348.02px;
  width: 900px;
  
  height: 1px;
  background-color: #cecece;
}
@media(max-width:768px){
  .line-style{
  width: 348.02px;

  }
}
/* final linha estilo pos pagina */
/* estilo produtos semelhantes */
.produtos-semelhantes__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-bottom: 76px;
}
.produtos-semelhantes__text {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.produtos-semelhantes__p {
  font-family: var(--title-text);
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  padding-top: 55px;
  color: #1d1d1d;
}
.produtos-semelhantes__line {
  width: 114px;
  height: 3px;

  background: #ffa826;
}
.produtos-semelhantes__seller {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 39px;
  overflow-x: auto;
  padding-left:300px;
gap: 22px;
}
@media(max-width:768px) {
.produtos-semelhantes__seller {
padding-left: 20px;
}
}
.produtos-semelhantes__seller::-webkit-scrollbar {
  width: 0;
  background-color: #ffffff;
}

/* final estilo produtos semelhantes */

/* footer inicio */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 782px;
  background-color: var(--black-color);
  padding: 0 10vw;
  justify-items: start;
    align-items: center;
    column-gap: 140px;
    overflow-x: hidden;
}
@media(max-width:898px){
.footer-container{
  grid-template-columns: repeat(1,1fr);
grid-template-rows:repeat(3,1fr) ;
}
}
.footer-group-1 {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  row-gap: 17px;
}
@media(max-width:768px){
  .footer-group-1{
    padding-top: 90px;
  }
}
.footer-group-1__p{
  font-family: var(--subtitle-text);
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: var(--white-color);
}


.footer-group-2__content{
  grid-template-rows: repeat(3,1fr);
  row-gap: 14px;
display: grid;
margin: 0%;
grid-template-columns: repeat(1,1fr);
}
.footer-group-2__mapin{
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;

}
.footer-group-2__phone{
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;

}
.footer-group-2__mail{
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;

}

.footer-group-3{
  width: 100%;
}
@media(max-width:768px){
  .footer-group-3{
    height: 100%;
  }
}
.button-group-3{
  width: 318px;
height: 66.67px;
display: flex;
align-items: center;
justify-content: space-between;



}
.button-group-3:nth-child(2){
  border-width: 1px 0px;
  border-style: solid;
  border-color: #3B3B3B;
}
.button-group-3__p{
  font-family: var(--subtitle-text);
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: var(--white-color);

}

/* footer final */
