#best-sellers {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 35px;
	padding: 5vh 6vw;
}

#best-sellers h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	color: var(--black-color);
	font-size: 2.8rem;
	font-family: var(--title-text);
	text-transform: uppercase;
}

#best-sellers h1::after {
	content: "";
	width: 40%;
	height: 4px;
	display: block;
	background-color: var(--first-color);
}

.products-list {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-around;
	row-gap: 26px;
}

.products-list .product-item {
	display: flex;
	flex-direction: column;
	gap: 12px;
	min-width: 130px;
	max-width: 150px;
}

.product-item .description-item p {
	font-size: 1.5rem;
	color: var(--black-color);
	font-family: var(--subtitle-text);
}

.product-item .price-item {
	display: flex;
	gap: 12px;
	font-family: var(--title-text);
}

.product-item .price-item p {
	font-size: 1.8rem;
}

.price-item .price-num {
	font-weight: 500;
	color: var(--black-color);
}

.price-item .price-discount {
	font-weight: 300;
	color: var(--first-color);
	text-decoration: line-through 1px;
}

button.product-action {
	padding: 6px 0;
	font-weight: 300;
	font-size: 1.8rem;
	text-align: center;
	color: var(--white-color);
	font-family: var(--title-text);
	background-color: var(--black-color);
}

@media screen and (max-width: 320px) {
	.products-list .product-item {
		width: min-content;
	}
}

@media screen and (min-width: 768px) {
	.products-list {
		grid-template-columns: repeat(3, auto);
	}
}

@media screen and (min-width: 1024px) {
	#best-sellers h1 {
		font-size: 3.6rem;
	}

	.products-list {
		gap: 40px;
	}

	.products-list .product-item {
		gap: 20px;
		max-width: 350px;
	}

	.products-list .product-item p {
		font-size: 2rem;
	}

	.products-list .product-item .price-item p,
	button.product-action {
		font-size: 2.6rem;
	}

	button.product-action {
		padding: 8px 0;
	}
}
