#highlight {
	margin: 60px 0 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 60px 30px 30px;
	background-color: #f3f1f4;
}

#highlight .highlight-content {
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: var(--black-color);
}

.highlight-content h1 {
	display: flex;
	flex-direction: column;
	width: fit-content;
	font-size: 3.4rem;
	text-transform: uppercase;
	font-family: var(--highlight-text);
}

.highlight-content h1::after {
	content: "";
	width: 100%;
	height: 4px;
	display: block;
	background-color: var(--first-color);
}

.highlight-content p {
	width: 80%;
	font-size: 1.8rem;
	font-family: var(--subtitle-text);
}

.highlight-tag {
	display: flex;
	align-items: center;
	gap: 10px;
}

.highlight-tag p {
	font-weight: 700;
	font-size: 1.8rem;
	font-family: var(--subtitle-text);
}

button.highlight-action {
	padding: 16px 0;
	text-align: center;
	font-size: 1.8rem;
	color: var(--white-color);
	font-family: var(--highlight-text);
	background-color: var(--black-color);
}

#highlight > img {
	top: -15%;
	right: 0;
	z-index: 10;
	width: 200px;
	max-height: 360px;
	position: absolute;
}

@media screen and (max-width: 320px) {
	#highlight > img {
		width: 170px;
		max-block-size: 100%;
	}
}

@media screen and (min-width: 1024px) {
	#highlight {
		gap: 32px;
		margin: 120px 0 60px;
		padding: 50px 80px 40px;
	}

	#highlight .highlight-content,
	.highlight-tag,
	button.highlight-action {
		max-width: 700px;
	}

	#highlight .highlight-content {
		gap: 36px;
	}

	.highlight-content h1 {
		font-size: 8rem;
	}

	.highlight-content p,
	.highlight-tag p {
		width: 100%;
		font-size: 2.2rem;
	}

	.highlight-tag img {
		width: 32px;
	}

	#highlight > img {
		top: -25%;
		width: 360px;
		aspect-ratio: 735 / 1322;
		max-height: fit-content;
	}
}
